@charset "UTF-8";

/**/
section {
    margin-bottom: 30px;
}

/**/
.delayed {
    display: none;
}

/**/
.box {
    margin: 10px 8% 10px;
    border: 1px solid #a0a0a0;
    padding: 15px;
}
.box p {
    margin: 10px 0;
    font-weight: bold;
    font-size: 1.14;
}
.box label {
    line-height: 30px;
}

/**/
label.add-btn a {
    width: 300px;
    line-height: 50px;
    display: block;
    color: #ffffff;
}
.drawer-btn,
.tool-btn,
.chart-btn,
.chart,
.estate-btn,
input[type=file],
input[type=submit] {
	display: none;
}

/**/
#agreement-second {
    margin-bottom: 30px;
}

/**/
div.radio.days {
    padding-left: 8px;
    margin-bottom: 20px;
}
div.radio-row {
    border-bottom: 1px solid #e2e2e2;
}
div.radio-row label {
    margin-left: 15px !important;
}
div.radio.mB20 {
    margin-bottom: 20px;
}
div.radio-row.mL20 {
    margin-left: 20px;
}

/**/
.add-btn {
    cursor: pointer;
}
