<!DOCTYPE html>
<html lang="ja">
<head eln:include="admin/head.html"></head>

<body>

<!-- nav -->
<nav eln:include="admin/nav.html"></nav>

<!-- container -->
<div class="container admin mT80 mB20">

<!-- breadcrumb -->
<ol class="breadcrumb">
  <li><a href="{eln:uri('default:admin/project.search')}">プロジェクト一覧</a></li>
  <li class="active">プロジェクト登録・編集</li>
</ol>
<!-- /breadcrumb -->

<!-- search -->
<form action="{eln:uri('default:admin/project.save')}" method="post">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="form-group">
	<label for="title">タイトル</label>
	<input type="text" name="project[title]" class="form-control" id="title" placeholder="タイトル">
      </div>
      <div class="form-group">
	<label for="body">期間</label>
	<div class="form-inline">
	  <div class="form-group">
	    <input type="text" name="project[from_date]" class="form-control datepicker w150">
	    〜
	    <input type="text" name="project[to_date]" class="form-control datepicker w150">
	  </div>
	</div>
      </div>
      <div class="form-group">
	<label for="title">日誌</label>
	<div class="form-inline mB10">
	  <div class="form-group">
	    <select name="diary" class="form-control" eln:options="{$diaryChoices}">
	      <option value="0">00</option>
	    </select>
	    <button id="diary-button" type="button" class="btn btn-md btn-default">
	      <span class="glyphicon glyphicon-plus"></span>
	    </button>
	  </div>
	</div>
	<ul id="diary-list" class="list-group">
	  <li class="list-group-item">
	    09:30
	    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	      <span aria-hidden="true">&times;</span>
	    </button>
	  </li>
	  <li class="list-group-item">
	    11:25
	    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	      <span aria-hidden="true">&times;</span>
	    </button>
	  </li>
	</ul>
	<input type="hidden" name="project[diaries]">
      </div>
      <div class="form-group">
	<label for="title">メール</label>
	<div class="form-inline mB10">
	  <div class="form-group">
	    <select name="mail" class="form-control" eln:options="{$mailChoices}">
	      <option value="0">00</option>
	    </select>
	    <button id="mail-button" type="button" class="btn btn-md btn-default">
	      <span class="glyphicon glyphicon-plus"></span>
	    </button>
	  </div>
	</div>
	<ul id="mail-list" class="list-group">
	  <li class="list-group-item">
	    09:30
	    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	      <span aria-hidden="true">&times;</span>
	    </button>
	  </li>
	  <li class="list-group-item">
	    11:25
	    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	      <span aria-hidden="true">&times;</span>
	    </button>
	  </li>
	</ul>
	<input type="hidden" name="project[mails]">
      </div>
      <a href="{eln:uri('default:admin/project.search')}" class="btn btn-md btn-default">キャンセル</a>
      <button type="submit" class="btn btn-lg btn-success">保存</button>
    </div>
  </div>
  <input type="hidden" name="project[id]">
</form>
<!-- /search -->

</div>
<!-- /container -->

<eln:tag eln:include="admin/foot.html"></eln:tag>
<script>
//<![CDATA[
$(function(){
    // diary list.
    $("button#diary-button").on("click", function(){
	addDiary();
    });
    reloadDiaries();

    // mail list.
    $("button#mail-button").on("click", function(){
	addMail();
    });
    reloadMails();
});
//
function addDiary(){
    // add.
    var diaryId = $("select[name='diary'] option:selected").val();
    if(diaryId.length > 0){
	var diaryText = $("select[name='diary'] option:selected").text();
	var diaries = JSON.parse(_unescape($("input[name='project[diaries]']").val()));
	for(var i = 0; i < diaries.length; ++ i){
	    if(diaries[i].id == diaryId){
		return;
	    }
	}
	diaries.push({ id: diaryId, text: diaryText });
	$("input[name='project[diaries]']").val(_escape(JSON.stringify(diaries)));
	reloadDiaries();
    }
}
function deleteDiary(element){
    // delete.
    var diaryId = $(element).data("diary");
    var diariesOrg = JSON.parse(_unescape($("input[name='project[diaries]']").val()));
    var diariesNew = [];
    for(var i = 0; i < diariesOrg.length; ++ i){
	if(diariesOrg[i].id != diaryId){
	    diariesNew.push(diariesOrg[i]);
	}
    }
    $("input[name='project[diaries]']").val(_escape(JSON.stringify(diariesNew)));
    reloadDiaries();
}
function reloadDiaries(){
    var diaries = JSON.parse(_unescape($("input[name='project[diaries]']").val()));
    $("ul#diary-list").html("");
    for(var i = 0; i < diaries.length; ++ i){
	$("ul#diary-list").append(
	    $("<li>").addClass("list-group-item").append(
		diaries[i].text
	    ).append(
		$("<button>")
		    .addClass("close")
		    .append(
			$("<span>").attr("aria-hidden", "true").html("&times;")
		    )
		    .attr("type", "button")
		    .attr("aria-label", "Close")
		    .data("diary", diaries[i].id)
		    .on("click", function(){
			deleteDiary($(this));
		    })
	    )
	);
    }
}
//
function addMail(){
    // add.
    var mailId = $("select[name='mail'] option:selected").val();
    if(mailId.length > 0){
	var mailText = $("select[name='mail'] option:selected").text();
	var mails = JSON.parse(_unescape($("input[name='project[mails]']").val()));
	for(var i = 0; i < mails.length; ++ i){
	    if(mails[i].id == mailId){
		return;
	    }
	}
	mails.push({ id: mailId, text: mailText });
	$("input[name='project[mails]']").val(_escape(JSON.stringify(mails)));
	reloadMails();
    }
}
function deleteMail(element){
    // delete.
    var mailId = $(element).data("mail");
    var mailsOrg = JSON.parse(_unescape($("input[name='project[mails]']").val()));
    var mailsNew = [];
    for(var i = 0; i < mailsOrg.length; ++ i){
	if(mailsOrg[i].id != mailId){
	    mailsNew.push(mailsOrg[i]);
	}
    }
    $("input[name='project[mails]']").val(_escape(JSON.stringify(mails)));
    reloadMails();
}
function reloadMails(){
    var mails = JSON.parse(_unescape($("input[name='project[mails]']").val()));
    $("ul#mail-list").html("");
    for(var i = 0; i < mails.length; ++ i){
	$("ul#mail-list").append(
	    $("<li>").addClass("list-group-item").append(
		mails[i].text
	    ).append(
		$("<button>")
		    .addClass("close")
		    .append(
			$("<span>").attr("aria-hidden", "true").html("&times;")
		    )
		    .attr("type", "button")
		    .attr("aria-label", "Close")
		    .data("mail", mails[i].id)
		    .on("click", function(){
			deleteMail($(this));
		    })
	    )
	);
    }
}
//]]>
</script>
</body>
</html>
