<!DOCTYPE html>
<html lang="ja">
<head eln:include="admin/head.html"></head>

<body>

<!-- nav -->
<nav eln:include="admin/nav.html"></nav>

<!-- container -->
<div class="container admin mT80 mB20">

<!-- breadcrumb -->
<ol class="breadcrumb">
  <li><a href="{eln:uri('default:admin/measurement.search')}">計測日一覧</a></li>
  <li class="active">予約枠確保エラー</li>
</ol>
<!-- /breadcrumb -->

<!-- alert -->
<div class="alert alert-danger fade in" role="alert">
  予約枠確保処理でエラーが発生しました。
  <br><br>
  <div eln:foreach="$error:{$errors.file}">{$error}</div>
</div>
<!-- /alert -->

<div class="row">
  <div class="col-sm-12 text-center">
    <a href="{eln:uri('default:admin/measurement.search')}" class="btn btn-md btn-default">戻る</a>
  </div>
</div>

</div>
<!-- /container -->

<eln:tag eln:include="admin/foot.html"></eln:tag>
</body>
</html>
