<!DOCTYPE html>
<html lang="ja">
  <head eln:include="admin/head.html"></head>

  <body>

    <!-- nav -->
    <nav eln:include="admin/nav.html"></nav>

    <!-- container -->
    <div class="container admin mT80 mB20">

      <!-- breadcrumb -->
      <ol class="breadcrumb">
	<li class="active">追加入力URL発行履歴</li>
      </ol>
      <!-- /breadcrumb -->

      <!-- search -->
      <form id="search-form" action="{eln:uri('default:admin/restoration.search')}" method="post" class="form-horizontal" role="form">
	<div class="panel panel-default">
	  <div class="panel-body">
	    <div class="form-group">
	      <label class="col-xs-12 col-sm-3 control-label">キーワード（部分一致）</label>
	      <div class="col-xs-12 col-sm-5 form-input">
		<input type="text" name="restoration_search[text]" class="form-control" placeholder="プロジェクト・被験者ID">
	      </div>
	    </div>
	    <div class="form-group">
	      <div class="col-xs-12 col-sm-7 col-sm-offset-3 form-input">
		<a href="{eln:uri('default:admin/restoration.list')}" type="button" class="btn btn-md btn-default">
		  全て表示
		</a>
		<button type="submit" class="btn btn-md btn-success">
		  <span class="glyphicon glyphicon-search"></span>
		  検索
		</button>
	      </div>
	    </div>
	  </div>
	</div>
      </form>
      <!-- /search -->

      <!-- paginator -->
      <nav eln:include="admin/paginator.html"></nav>
      <!-- /paginator -->

      <!-- customer list -->
      <div class="table-box">
	<table class="table table-bordered table-hover list-table">
	  <thead>
	    <tr>
	      <th>プロジェクト</th>
	      <th>被験者ID</th>
	      <th>日程</th>
	      <th>種別</th>
	      <th>URL</th>
	      <th>状態</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr eln:foreach="$restoration:{$restorations}">
	      <td>{$restoration.project.title}</td>
	      <td>{$restoration.user.code}</td>
	      <td>{eln:date($restoration.record, '%Y.%m.%d %H:%M')}</td>
	      <td>
		<span eln:if="{$restoration.timing EQ TIMING_GETUP}">起床</span>
		<span eln:if="{$restoration.timing EQ TIMING_GOTOBED}">就寝</span>
	      </td>
	      <td>{DEFAULT_BASE_URL}r2/{$restoration.token}</td>
	      <td>
		<span eln:if="{$restoration.status EQ STATUS_ENABLED}">未入力</span>
		<span eln:unless="{$restoration.status EQ STATUS_ENABLED}">入力済</span>
	      </td>
	    </tr>
	    <tr eln:if="{count($restorations) EQ 0}">
	      <td colspan="6">見つかりません</td>
	    </tr>
	  </tbody>
	</table>
      </div>
      <!-- /customer list -->

      <!-- paginator -->
      <nav eln:include="admin/paginator.html"></nav>
      <!-- /paginator -->

    </div>
    <!-- /container -->

    <eln:tag eln:include="admin/foot.html"></eln:tag>
  </body>
</html>
