<!DOCTYPE html>
<html lang="ja">
<head eln:include="work/head.html"></head>

<body>

<!-- container -->
<div class="container mT40 mB20">

<!-- panel -->
<div class="panel panel-default">
  <div class="panel-body">
    すべての質問が終了しました。お疲れ様でした。
  </div>
</div>
<!-- /panel -->

<!-- results -->
<ul id="result-tab" class="nav nav-tabs" eln:if="{$results}">
  <li eln:if="{$results.CHSI}"><a href="#tab1" data-toggle="tab">あなたの疲労度</a></li>
  <li eln:if="{$results.Ca OR $results.F}"><a href="#tab2" data-toggle="tab">あなたの食事の結果</a></li>
</ul>

<div id="result-pane" class="tab-content" eln:if="{$results}">
  <div class="tab-pane" id="tab1" eln:if="{$results.CHSI}">
    <div id="fatigue-score" class="text-center">{$results.CHSI.0}</div>
    <div class="row">
      <div class="col-xs-12 col-sm-6"><canvas id="radar-chart" height="300"></canvas></div>
      <div class="col-xs-12 col-sm-6">
	<table id="fatigue-table" class="table table-bordered table-condensed">
	  <tr><td colspan="2"></td><th>ふつう</th><th>やや強い</th><th>強い</th><th>非常に強い</th></tr>
	  <tr>
	    <th>①不安とうつ</th><td>{number_format($results.CHSI.1, 1)}</td>
	    <td>〜5.6</td><td>5.7〜10.3</td><td>10.4〜14.8</td><td>14.9〜</td>
	  </tr>
	  <tr>
	    <th>②睡眠の問題</th><td>{number_format($results.CHSI.2, 1)}</td>
	    <td>〜2.5</td><td>2.6〜8.1</td><td>8.2〜12.1</td><td>12.2〜</td>
	  </tr>
	  <tr>
	    <th>③注意力・思考力低下</th><td>{number_format($results.CHSI.3, 1)}</td>
	    <td>〜6.1</td><td>6.2〜10.6</td><td>10.7〜15.1</td><td>15.2〜</td>
	  </tr>
	  <tr>
	    <th>④疲労</th><td>{number_format($results.CHSI.4, 1)}</td>
	    <td>〜4.5</td><td>4.6〜8.5</td><td>8.6〜12.5</td><td>12.6〜</td>
	  </tr>
	  <tr>
	    <th>⑤痛み</th><td>{number_format($results.CHSI.5, 1)}</td>
	    <td>〜4.4</td><td>4.5〜9.4</td><td>9.5〜14.4</td><td>14.5〜</td>
	  </tr>
	  <tr>
	    <th>⑥過労</th><td>{number_format($results.CHSI.6, 1)}</td>
	    <td>〜2.1</td><td>2.2〜5.2</td><td>5.3〜8.3</td><td>8.4〜</td>
	  </tr>
	  <tr>
	    <th>⑦感染</th><td>{number_format($results.CHSI.7, 1)}</td>
	    <td>〜4.6</td><td>4.7〜9.0</td><td>9.1〜13.4</td><td>13.5〜</td>
	  </tr>
	  <tr>
	    <th>⑧自律神経</th><td>{number_format($results.CHSI.8, 1)}</td>
	    <td>〜1.6</td><td>1.7〜4.5</td><td>4.6〜7.4</td><td>7.5〜</td>
	  </tr>
	</table>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
	<a href="{eln:uri('default:work.print1')}" class="btn btn-md btn-default">
	  <span class="glyphicon glyphicon-print"></span>
	  印刷用PDFファイルをダウンロード
	</a>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="tab2" eln:if="{$results.Ca OR $results.F}">
    <eln:tag eln:if="{$results.Ca}">
      <h4>カルシウムの摂取量の結果</h4>
      <div class="row">
	<div class="col-xs-12">
	  <table id="calcium-table" class="table table-bordered table-condensed">
	    <tr><th>合計点数</th><th>判定</th><th>コメント</th></tr>
	    <tr>
	      <td>20点以上</td><td>良い</td>
	      <td>１日に必要な800mg以上とれています。このままバランスのとれ食事を続けましょう。</td>
	    </tr>
	    <tr>
	      <td>16〜19点</td><td>少し足りない</td>
	      <td>１日に必要な800mgに少し足りません。20点になるように、もう少しカルシウムをとりましょう。</td>
	    </tr>
	    <tr>
	      <td>11〜15点</td><td>足りない</td>
	      <td>１日に必要な600mgしかとれていません。このままでは骨がもろくなっていきます。あと5〜10点増やして20点になるよう、毎日の食事を工夫しましょう。</td>
	    </tr>
	    <tr>
	      <td>8〜10点</td><td>かなり足りない</td>
	      <td>必要な量の半分以下しかとれていません。カルシウムの多い食品を今の２倍とるようにしましょう。</td>
	    </tr>
	    <tr>
	      <td>0〜7点</td><td>全く足りない</td>
	      <td>カルシウムがほとんどとれていません。このままでは骨が折れやすくなってとても危険です。食事をきちんと見直しましょう。</td>
	    </tr>
	  </table>
	</div>
      </div>
      <div class="alert alert-info mT10 mB30" role="alert">
	<h4>あなたの点数 {$results.Ca}点</h4>
      </div>
    </eln:tag>
    <eln:tag eln:if="{$results.F}">
      <h4>食事の多様性の結果</h4>
      <div class="alert alert-info mT10 mB30" role="alert">
	<h4>あなたの点数 {$results.F}点</h4>
      </div>
      <div class="row">
	<div class="col-xs-12 mT20">
	  <h4>採点の仕方</h4>
	  <p>
	    ほとんど食べない・・・0点<br>
	    時々食べる～ ほぼ毎日食べる・・・1点<br>
	    総合点：0～11点<br>
	    <strong>点数が高いほど食事の多様性が高い。</strong><br>
	    ※基準値は特に設けられていませんが、高齢者を対象とした研究で、10点以上の人たちで、日常動作の自立度が高いことや心の健康度が高いことも示されています。
	  </p>
	</div>
	<div class="col-xs-12 mT20">
	  <h4>「食事の多様性」とは</h4>
	  <p>
	    色々な食品を組み合わせて食べているかを見るものです。<br>
	    厚生労働省の食生活指針にも「多様な食品を組み合わせましょう。」と示されています。<br>
	    多用な食品を摂取することで、ビタミンやミネラル類がしっかり摂取することができると言われています。また、食事の多様性が将来の認知機能に関わることなども報告*されています。
	  </p>
	</div>
      </div>
    </eln:tag>
    <div class="row">
      <div class="col-xs-12 text-center">
	<a href="{eln:uri('default:work.print2')}" class="btn btn-md btn-default">
	  <span class="glyphicon glyphicon-print"></span>
	  印刷用PDFファイルをダウンロード
	</a>
      </div>
    </div>
  </div>
</div>
<!-- /results -->

</div>
<!-- /container -->

<eln:tag eln:include="work/foot.html"></eln:tag>
<script>
//<![CDATA[
$(function(){
    // tab.
    $("#result-tab li:nth-child(1)").addClass("active");
    $("#result-pane div:nth-child(1)").addClass("active");
});
//]]>
</script>
<script eln:if="{$results.CHSI}">
//<![CDATA[
$(function(){
    // sizes and colors.
    var scores = {json_encode($results.CHSI)|raw};
    var sizes = [
	[20.0, 14.9, 10.4, 5.7],
	[20.0, 12.2, 8.2, 2.6],
	[20.0, 15.2, 10.7, 6.2],
	[20.0, 12.6, 8.6, 5.7],
	[20.0, 14.5, 9.5, 4.5],
	[20.0, 8.4, 5.3, 2.2],
	[20.0, 13.5, 9.1, 4.7],
	[20.0, 7.5, 4.6, 1.7]
    ];
    var colors = ["rgb(255,0,0)", "rgb(255,255,0)", "rgb(144,238,144)", "rgb(0, 255, 255)"];

    // canvas.
    var canvas = $("canvas#radar-chart").get(0);
    canvas.width = $(canvas).parent().width();

    // draw background.
    var context = canvas.getContext("2d");
    var size = Math.min(canvas.width, canvas.height);
    var radius = size / 2;
    var centerX = canvas.width / 2;
    var centerY = canvas.height / 2;
    //
    for(var i = 0; i < 4; ++ i){
	context.beginPath();
	context.fillStyle = colors[i];
	for(var j = 0; j < 8; ++ j){
	    var category = (10 - j) % 8;
	    var x = centerX + Math.cos(Math.PI * 0.25 * j) * radius * (sizes[category][i] / 20.0);
	    var y = centerY - Math.sin(Math.PI * 0.25 * j) * radius * (sizes[category][i] / 20.0);
	    if(j == 0){
		context.moveTo(x, y);
	    }else{
		context.lineTo(x, y);
	    }
	}
	context.fill();
    }
    //
    context.beginPath();
    context.strokeStyle = "rgb(96, 96, 96)";
    context.lineWidth = 1.0;
    for(var i = 0; i < 8; ++ i){
	var x = centerX + Math.cos(Math.PI * 0.25 * i) * radius;
	var y = centerY - Math.sin(Math.PI * 0.25 * i) * radius;
	context.moveTo(centerX, centerY);
	context.lineTo(x, y);
    }
    context.stroke();
    //
    context.beginPath();
    context.strokeStyle = "rgb(96, 96, 96)";
    context.lineWidth = 1.0;
    for(var i = 0; i < 8; ++ i){
	var x = centerX + Math.cos(Math.PI * 0.25 * i) * radius;
	var y = centerY - Math.sin(Math.PI * 0.25 * i) * radius;
	if(i == 0){
	    context.moveTo(x, y);
	}else{
	    context.lineTo(x, y);
	}
    }
    context.stroke();

    // draw scores.
    context.beginPath();
    context.strokeStyle = "rgb(0, 0, 0)";
    context.lineWidth = 2.0;
    for(var i = 0; i < 8; ++ i){
	var category = (10 - i) % 8 + 1;
	var x = centerX + Math.cos(Math.PI * 0.25 * i) * radius * (scores[category] / 20.0);
	var y = centerY - Math.sin(Math.PI * 0.25 * i) * radius * (scores[category] / 20.0);
	if(i == 0){
	    context.moveTo(x, y);
	}else{
	    context.lineTo(x, y);
	}
    }
    context.closePath();
    context.stroke();
});
//]]>
</script>

</body>
</html>
