<!DOCTYPE html>
<html lang="ja">
  <head eln:include="work/head.html"></head>

  <body>

    <!-- container -->
    <div class="container mT40 mB20">

      <!-- form -->
      <div class="panel panel-success">
	<div class="panel-heading"><h3>Web日誌</h3></div>
	<div class="panel-body">
	  <p class="lead text-center mB10">
	    {$project.title}<br>
	    {eln:date($project.from_date, '%Y年%m月%d日（%a）')}〜{eln:date($project.to_date, '%Y年%m月%d日（%a）')}
	  </p>
	  <div class="form-group mB30">
	    <label class="col-xs-12 control-label text-center">
	      <p class="form-control-static">{eln:date($visit.visited_on, '%Y年%m月%d日')} {$visit.timing_tos}日誌</p>
	    </label>
	    <div class="col-xs-12 text-center">
	      <p class="form-control-static"><small>{eln:date($_now_, '%Y年%m月%d日（%a） %H時%M分')}</small></p>
	    </div>
	  </div>
	  <p class="lead">
	    以降のページに表示される質問にお答えください。<br>
	    <br>
	    すべての項目に回答がないと次のページに進めませんのでご注意ください。
	  </p>
	  <div class="form-group mB30">
	    <label class="col-xs-12 control-label text-center">ユーザID</label>
	    <div class="col-xs-12 text-center">
	      <p class="form-control-static">{$user.code}</p>
	    </div>
	  </div>
	  <div class="row button mB10" style="display:none;">
	    <div class="col-xs-12 text-center">
	      <a href="{eln:uri('default:work.page')}" class="btn btn-lg btn-default">次に進む</a>
	    </div>
	  </div>
	  <div class="row button" style="display:none;">
	    <div class="col-xs-12 text-center">
	      <a href="{eln:uri('default:work/history.list')}" class="btn btn-md btn-default">入力確認</a>
	    </div>
	  </div>
	  <noscript>
	    <div class="row">
	      <div class="col-xs-12">
		<p class="no-script">※この質問票はJavaScriptを使用します。お使いのブラウザのJavaScriptを有効にしてください。</p>
	      </div>
	    </div>
	  </noscript>
	</div>
      </div>
      <!-- /form -->

    </div>
    <!-- /container -->

    <eln:tag eln:include="work/foot.html"></eln:tag>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script>
    //<![CDATA[
    $(function(){
      $("div.row.button").show();
    });
    //]]>
    </script>

</body>
</html>
