<!DOCTYPE html>
<html lang="ja">
<head eln:include="work/head.html"></head>

<body>

<!-- container -->
<div class="container mT40 mB20">

<!-- form -->
<div class="panel panel-success">
  <div class="panel-heading"><h3>Web日誌</h3></div>
  <div class="panel-body">
    <p class="lead text-center mB10">
      <strong>{eln:date($_now_, '%Y年%m月%d日（%a） %H時%M分')}</strong><br><br>
      {$project.title}<br>
      {eln:date($project.from_date, '%Y年%m月%d日（%a）')}〜{eln:date($project.to_date, '%Y年%m月%d日（%a）')}
    </p>
    <p class="lead">
      以降のページに表示される質問にお答えください。<br>
      <br>
      すべての項目に回答がないと次のページに進めませんのでご注意ください。
    </p>
    <div class="form-group mB30">
      <label class="col-xs-12 control-label text-center">ユーザID</label>
      <div class="col-xs-12 text-center">
	<p class="form-control-static">{$user.code}</p>
      </div>
    </div>
    <div class="row button" style="display:none;">
      <div class="col-xs-12 text-center">
	<a href="{eln:uri('default:work.page')}" class="btn btn-lg btn-default">次に進む</a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
	<p class="no-script">※この質問票はJavaScriptを使用します。お使いのブラウザのJavaScriptを有効にしてください。</p>
	<p class="no-cookie">※この質問票はcookieを使用します。お使いのブラウザのcookieを有効にしてください。</p>
      </div>
    </div>
  </div>
</div>
<!-- /form -->

</div>
<!-- /container -->

<eln:tag eln:include="work/foot.html"></eln:tag>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script>
//<![CDATA[
$(function(){
    // 検証
    var cookieName = "_VALIDATION_";
    var cookieValue = Math.random();
    $("p.no-script").hide();
    $.cookie(cookieName, cookieValue);
    //
    if($.cookie(cookieName) == cookieValue){
	$("p.no-cookie").hide();
	$("div.button").show();
    }
});
//]]>
</script>

</body>
</html>
