<!DOCTYPE html>
<html lang="ja">
<head eln:include="work/head.html"></head>

<body>

<!-- container -->
<div class="container mT40 mB20">

<!-- form -->
<div class="panel panel-success">
  <div class="panel-heading"><h3>日誌</h3></div>
  <div class="panel-body">
    <p class="lead">
      {eln:date($_today_, '%Y年%m月%d日（%a） %H時%M分')}<br>
      {$project.title}の日誌です。全部で{$numPages}ページあります。<br>
      何か説明文を表示？<br>
    </p>
    <p id="index-note">
      あなたのお名前などの個人情報及び個人が特定される形でデータが公表されることはありません。
    </p>
    <div class="form-group">
      <label class="col-xs-12 col-sm-6 control-label">ユーザID</label>
      <div class="col-xs-12 col-sm-6">
	<p class="form-control-static">{$user.code}</p>
      </div>
    </div>
    <div class="row button" style="display:none;">
      <div class="col-xs-12 text-center">
	<a href="{eln:uri('default:work.page')}" class="btn btn-lg btn-default">同意して先に進む</button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
	<p class="no-script">※この質問票はJavaScriptを使用します。お使いのブラウザのJavaScriptを有効にしてください。</p>
	<p class="no-cookie">※この質問票はcookieを使用します。お使いのブラウザのcookieを有効にしてください。</p>
      </div>
    </div>
  </div>
</div>
<!-- /form -->

</div>
<!-- /container -->

<eln:tag eln:include="work/foot.html"></eln:tag>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script>
//<![CDATA[
$(function(){
    // 検証
    var cookieName = "_VALIDATION_";
    var cookieValue = Math.random();
    $("p.no-script").hide();
    $.cookie(cookieName, cookieValue);
    //
    if($.cookie(cookieName) == cookieValue){
	$("p.no-cookie").hide();
	$("div.button").show();
    }
});
//]]>
</script>

</body>
</html>
