<div class="form-group">
  <div class="col-xs-12 mB10">
    <label>例えば、９時過ぎに５〜１０分程度外出する場合は下例のように塗ってください。</label>
    <label class="sample">9:00</label>
    <canvas id="sample-00" class="sample" width="120" height="25"></canvas>
  </div>
</div>
<div class="form-group">
  <div class="col-xs-4 col-sm-2">
    <label class="time">7:00</label>
    <canvas id="{$item.name}-t00" class="time" height="30"></canvas>
  </div>
  <div class="col-xs-4 col-sm-2">
    <label class="time">8:00</label>
    <canvas id="{$item.name}-t01" class="time" height="30"></canvas>
  </div>
  <div class="col-xs-4 col-sm-2">
    <label class="time">9:00</label>
    <canvas id="{$item.name}-t02" class="time" height="30"></canvas>
  </div>
  <div class="col-xs-4 col-sm-2">
    <label class="time">10:00</label>
    <canvas id="{$item.name}-t03" class="time" height="30"></canvas>
  </div>
  <div class="col-xs-4 col-sm-2">
    <label class="time">11:00</label>
    <canvas id="{$item.name}-t04" class="time" height="30"></canvas>
  </div>
  <div class="col-xs-4 col-sm-2">
    <label class="time">12:00</label>
    <canvas id="{$item.name}-t05" class="time" height="30"></canvas>
  </div>
  <div class="col-xs-4 col-sm-2">
    <label class="time">13:00</label>
    <canvas id="{$item.name}-t06" class="time" height="30"></canvas>
  </div>
  <div class="col-xs-4 col-sm-2">
    <label class="time">14:00</label>
    <canvas id="{$item.name}-t07" class="time" height="30"></canvas>
  </div>
  <div class="col-xs-4 col-sm-2">
    <label class="time">15:00</label>
    <canvas id="{$item.name}-t08" class="time" height="30"></canvas>
  </div>
  <div class="col-xs-4 col-sm-2">
    <label class="time">16:00</label>
    <canvas id="{$item.name}-t09" class="time" height="30"></canvas>
  </div>
  <div class="col-xs-4 col-sm-2">
    <label class="time">17:00</label>
    <canvas id="{$item.name}-t10" class="time" height="30"></canvas>
  </div>
  <input type="hidden" name="answer[{$item.name}]" class="time">
</div>
