<div class="form-group row radio">
  <eln:tag eln:foreach="$item:{$row.items}">
    <!-- [radio] -->
    <div class="col-xs-{$item.width} mB3" eln:if="{$item.type EQ 'radio'}">
      <label class="radio-inline">
	<input type="radio" name="answer[{$item.name}]" value="{$item.value}" id="{$item.id}" class="{$item.ex}" data-relation="{$item.enableIf}">
	{$item.text}
      </label>
    </div>
    <!-- [inline] -->
    <div class="col-xs-12 mB3" eln:if="{$item.type EQ 'inline'}">
      <eln:tag eln:foreach="$inline:{$item.inline}">
	<label class="radio-inline" eln:if="{$inline.type EQ 'radio'}">
	  <input type="radio" name="answer[{$inline.name}]" value="{$inline.value}" id="{$inline.id}" class="{$inline.ex}" data-relation="{$inline.enableIf}">
	  {$inline.text}
	</label>
      </eln:tag>
    </div>
  </eln:tag>
</div>
