<div class="radio">
  <eln:tag eln:foreach="$item:{$row.items}">
    <!-- [radio] -->
    <label class="radio" eln:if="{$item.type EQ 'radio'}">
      <input type="radio" name="inquiry[{$item.name}]" value="{$item.value}" id="{$item.id}" class="{$item.ex}" data-relation="{$item.enableIf}">
      {$item.text}
    </label>
    <!-- [label] -->
    <p class="help-block" eln:if="{$item.type EQ 'label'}">{$item.text}</p>
    <!-- [inline] -->
    <eln:tag eln:foreach="$inline:{$item.inline}" eln:if="{$item.type EQ 'inline'}">
      <label class="radio-inline" eln:if="{$inline.type EQ 'radio'}">
	<input type="radio" name="inquiry[{$inline.name}]" value="{$inline.value}" id="{$inline.id}" class="{$inline.ex}" data-relation="{$inline.enableIf}">
	{$inline.text}
      </label>
    </eln:tag>
  </eln:tag>
</div>
