<!DOCTYPE html>
<html lang="ja">
<head eln:include="work/head.html"></head>

<body>

<!-- container -->
<div class="container mT40 mB20">
<div class="scale-container">

<!-- user -->
<p class="text-right">ID: {$user.code}</p>
<!-- /user -->

<!-- scale -->
<div class="title text-center mB30">{$scale.title}</div>
<div id="outer" class="outer">
  <p id="label-xp" class="label-x">{$scale.xpos}</p>
  <p id="label-xn" class="label-x">{$scale.xneg}</p>
  <p id="label-yp" class="label-y">{$scale.ypos}</p>
  <p id="label-yn" class="label-y">{$scale.yneg}</p>
  <div id="scale-base" class="scale-square scale-base">
    <div id="scale-q1" class="scale-square scale-quadrant"></div>
    <div id="scale-q2" class="scale-square scale-quadrant"></div>
    <div id="scale-q3" class="scale-square scale-quadrant"></div>
    <div id="scale-q4" class="scale-square scale-quadrant"></div>
    <img src="{eln:path('img/scope.png')}" class="scope" />
  </div>
</div>

<form action="{eln:uri('default:work.send')}" method="post">
  <input type="hidden" name="answer[{$scale.name}_x]">
  <input type="hidden" name="answer[{$scale.name}_y]">
  <input type="hidden" name="answer[direction]">
  <div class="row cols-xs-12 text-center">
    <button class="btn btn-lg btn-default prev" type="button">戻る</button>
    <button class="btn btn-lg btn-default next" type="button">次へ</button>
  </div>
</form>

<div id="scale-screen"></div>

</div>
</div>
<!-- /container -->

<eln:tag eln:include="work/foot.html"></eln:tag>
<script>
//<![CDATA[
$(function(){
    // [SCALE]
    var width = parseInt($("div#scale-base").width());
    var half = parseInt((width - 2) / 2);
    width = half * 2 + 3;
    //
    $("div#scale-base").width(width).height(width);
    $("div#scale-q1").width(half).height(half).css( { right: 0 });
    $("div#scale-q2").width(half).height(half);
    $("div#scale-q3").width(half).height(half).css( { bottom: 0 });
    $("div#scale-q4").width(half).height(half).css( { right: 0, bottom: 0 });

    // [LABEL]
    var ow = parseInt($("div#outer").width());
    var oh = parseInt($("div#outer").height());
    $("p#label-yp").css( { left: parseInt((ow - $("p#label-yp").width()) / 2), top: - parseInt($("p#label-yp").height() + 2) } );
    $("p#label-yn").css( { left: parseInt((ow - $("p#label-yn").width()) / 2), top: parseInt(width + 2) } );
    $("p#label-xp").css( { left: parseInt(width + $("p#label-xp").width() + 10), top: parseInt((oh - $("p#label-xp").height()) / 2) } );
    $("p#label-xn").css( { left: 4, top: parseInt((oh - $("p#label-xn").height()) / 2 + 2) } );
    
    // [SCOPE]
    var image = parseInt($("img.scope").width());

    // [MOTION]
    var keyStart, keyMove, keyEnd;
    var isTouch;
    if("ontouchstart" in window){
	keyStart = "touchstart";
	keyMove = "touchmove";
	keyEnd = "touchend";
	isTouch = true;
    }else{
	keyStart = "mousedown";
	keyMove = "mousemove";
	keyEnd = "mouseup";
	isTouch = false;
    }
    var score = { x: 0.0, y: 0.0, s: 1 };
    var offset = $("div#scale-base").offset();
    var pressed = 0;
    $("div#scale-base").bind(keyStart, function(e){
	e.preventDefault();
	score = getScore(e, width, offset, isTouch);
	onMoveScope(score, width, image);
	pressed = 1;
    });
    $("div#scale-base").bind(keyMove, function(e){
	if(pressed){
	    e.preventDefault();
	    score = getScore(e, width, offset, isTouch);
	    onMoveScope(score, width, image);
	    pressed = score.s;
	}
    });
    $("div#scale-base").bind(keyEnd, function(e){
	pressed = 0;
    });
    onMoveScope(score, width, image);
    $("button.next").prop("disabled", true).addClass("disabled");

    // [NEXT/PREV]
    $("button.next").on("click", function(){
	$("button.next").addClass("disabled").prop("disabled", true);
	$("input[name='answer[direction]']").val({DIRECTION_NEXT});
	$("form").submit();
    });
    $("button.prev").on("click", function(){
	$("input[name='answer[direction]']").val({DIRECTION_PREV});
	$("form").submit();
    });
});
//
function getScore(event, width, offset, isTouch){
    var score = { s: 1 };
    var eventX, eventY;
    if(isTouch){
	eventX = event.originalEvent.changedTouches[0].pageX;
	eventY = event.originalEvent.changedTouches[0].pageY;
    }else{
	eventX = event.pageX;
	eventY = event.pageY;
    }
    score.x = (((eventX - offset.left) - (width / 2)) / (width / 2)) * 100;
    if(score.x < -100 || score.x > 100){
	score.x = Math.max(Math.min(score.x, 100), -100);
	score.s = 0;
    }
    score.y = (((width / 2) - (eventY - offset.top)) / (width / 2)) * 100;
    if(score.y < -100 || score.y > 100){
	score.y = Math.max(Math.min(score.y, 100), -100);
	score.s = 0;
    }
    return score;
}
function onMoveScope(score, field, scope){
    $("img.scope").css( {
	left: parseInt(((score.x + 100) / 100) * (field / 2) - (scope / 2)),
	top: parseInt(((100 - score.y) / 100) * (field / 2) - (scope / 2))
    });
    $("input[name='answer[{$scale.name}_x]']").val(parseInt(Math.round(score.x * 100)));
    $("input[name='answer[{$scale.name}_y]']").val(parseInt(Math.round(score.y * 100)));
    $("button.next").prop("disabled", false).removeClass("disabled");
}
//]]>
</script>
</body>
</html>
