<!DOCTYPE html>
<html lang="ja">
<head eln:include="admin/head.html"></head>

<body>

<!-- nav -->
<nav eln:include="admin/nav.html"></nav>

<!-- container -->
<div class="container admin mT80 mB20">

<!-- breadcrumb -->
<ol class="breadcrumb">
  <li class="active">申し込みCSVアップロード</li>
</ol>
<!-- /breadcrumb -->

<!-- search -->
<form action="{eln:uri('default:admin/import.upload')}" method="post" enctype="multipart/form-data">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="form-group">
        <label for="file">CSVファイル</label>
	<div class="input-group">
	  <label class="input-group-btn">
	    <span class="btn btn-primary">
	      クリックしてファイルを選択<input type="file" name="file" style="display:none">
	    </span>
	  </label>
	  <input type="text" name="name" class="form-control" readonly="readonly">
	</div>
	<p class="form-control-static">文字コード[Shift-JIS]のカンマ区切り[*.csv]ファイル</p>
      </div>
      <button type="submit" class="btn btn-lg btn-success">
	<span class="glyphicon glyphicon-search"></span>
	保存
      </button>
    </div>
  </div>
</form>
<!-- /search -->

</div>
<!-- /container -->

<eln:tag eln:include="admin/foot.html"></eln:tag>
<script>
//<![CDATA[
$(function(){
    // file.
    $("input[name='file']").on("change", function(){
	var files = this.files;
	if(files.length > 0){
	    $("input[name='name']").val($("input[name='file']").val());
	    $("button.submit").removeClass("disabled").prop("disabled", false);
	}else{
	    $("button.submit").addClass("disabled").prop("disabled", true);
	}
    });
    $("button.submit").addClass("disabled").prop("disabled", true);
});
//]]>
</script>
</body>
</html>
