<!DOCTYPE html>
<html lang="ja">
<head eln:include="admin/head.html"></head>

<body>

<!-- nav -->
<nav eln:include="admin/nav.html"></nav>

<!-- container -->
<div class="container admin mT80 mB20">

<!-- breadcrumb -->
<ol class="breadcrumb">
  <li><a href="{eln:uri('default:admin/diary.search')}">日誌一覧</a></li>
  <li class="active">日誌登録・編集</li>
</ol>
<!-- /breadcrumb -->

<!-- search -->
<form action="{eln:uri('default:admin/diary.save')}" method="post">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="form-group">
	<label for="title">ID</label>
	<div class="form-inline">
	  <div class="form-group">
	    <label class="inline-note">DY</label>
	    <input type="text" name="diary[code]" class="form-control" id="code" placeholder="英数字3文字">
	  </div>
	</div>
      </div>
      <div class="form-group">
	<label for="title">タイトル</label>
	<input type="text" name="diary[title]" class="form-control" id="title" placeholder="タイトル">
      </div>
      <div class="form-group">
	<label for="body">概要</label>
	<textarea name="diary[overview]" class="form-control" id="overview" placeholder="概要" rows="5"></textarea>
      </div>
      <div class="form-group">
	<label for="body">日誌データ</label>
	<div class="input-group">
	  <label class="input-group-btn">
	    <span class="btn btn-primary">
	      クリックしてファイルを選択<input type="file" name="file" style="display:none">
	    </span>
	  </label>
	  <input type="text" name="name" class="form-control" readonly="readonly">
	  <input type="hidden" name="diary[file]">
	</div>
	<p class="form-control-static">
	  日誌定義[*.xml]ファイル
	  <span eln:if="{$diary.id}">（変更する場合のみアップロード）</span>
	</p>
      </div>
      <div class="form-group">
	<label for="title">提示時間</label>
	<div class="form-inline">
	  <div class="form-group">
	    <select name="diary[from_time_h]" class="form-control" eln:options="{$hourChoices}">
	      <option value="0">00</option>
	    </select>
	    :
	    <select name="diary[from_time_m]" class="form-control" eln:options="{$minuteChoices}">
	      <option value="0">00</option>
	    </select>
	    &nbsp;
	    〜
	    &nbsp;
	    <select name="diary[to_time_h]" class="form-control" eln:options="{$hourChoices}">
	      <option value="0">00</option>
	    </select>
	    :
	    <select name="diary[to_time_m]" class="form-control" eln:options="{$minuteChoices}">
	      <option value="0">00</option>
	    </select>
	  </div>
	</div>
      </div>
      <a href="{eln:uri('default:admin/diary.search')}" class="btn btn-md btn-default">キャンセル</a>
      <button type="submit" class="btn btn-lg btn-success">保存</button>
    </div>
  </div>
  <input type="hidden" name="diary[id]">
</form>
<!-- /search -->

</div>
<!-- /container -->

<eln:tag eln:include="admin/foot.html"></eln:tag>
<script>
//<![CDATA[
$(function(){
    // file.
    $("input[name='file']").on("change", function(){
	var files = this.files;
	if(files.length > 0){
	    $("input[name='name']").val($("input[name='file']").val());
	    $("button.submit").removeClass("disabled").prop("disabled", false);
	}else{
	    $("button.submit").addClass("disabled").prop("disabled", true);
	}
    });
    $("button.submit").addClass("disabled").prop("disabled", true);
});
//]]>
</script>
</body>
</html>
