<!DOCTYPE html>
<html lang="ja">
<head eln:include="admin/head.html"></head>

<body>

<!-- nav -->
<nav eln:include="admin/nav.html"></nav>

<!-- container -->
<div class="container admin mT80 mB20">

<!-- breadcrumb -->
<ol class="breadcrumb">
  <li class="active">日誌一覧</li>
</ol>
<!-- /breadcrumb -->

<!-- search -->
<form action="{eln:uri('default:admin/diary.search')}" method="post" class="form-horizontal" role="form">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="form-group">
	<label class="col-xs-12 col-sm-3 control-label">キーワード（部分一致）</label>
	<div class="col-xs-12 col-sm-5 form-input">
	  <input type="text" name="diary_search[text]" class="form-control" placeholder="ID・タイトル・概要">
	</div>
      </div>
      <div class="form-group">
	<div class="col-xs-12 col-sm-7 col-sm-offset-3 form-input">
          <a href="{eln:uri('default:admin/diary.list')}" type="button" class="btn btn-md btn-default">
	    全て表示
	  </a>
          <button type="submit" class="btn btn-md btn-success">
	    <span class="glyphicon glyphicon-search"></span>
	    検索
	  </button>
	</div>
      </div>
    </div>
  </div>
</form>
<!-- /search -->

<!-- paginator -->
<nav eln:include="admin/paginator.html"></nav>
<!-- /paginator -->

<!-- customer list -->
<div class="table-box">
  <table class="table table-bordered table-hover list-table">
    <thead>
      <tr>
	<th>
	  <a href="{eln:uri('default:admin/diary.form')}" class="btn btn-sm btn-success">
	    <span class="glyphicon glyphicon-plus"></span>
	    追加
	  </a>
	</th>
	<th></th>
	<th>ID</th>
	<th>タイトル</th>
	<th>提示時間</th>
	<th>単独</th>
      </tr>
    </thead>
    <tbody>
      <tr eln:foreach="$diary:{$diaries}">
	<td>
	  <a href="{eln:uri('default:admin/diary.form?id={$diary.id}')}" class="btn btn-sm btn-default">
	    <span class="glyphicon glyphicon-pencil"></span>
	    編集
	  </a>
	  <a href="#" class="btn btn-sm btn-danger delete" data-id="{$diary.id}">
	    <span class="glyphicon glyphicon-remove"></span>
	    削除
	  </a>
	</td>
	<td>
	  <a href="{eln:uri('default:admin/diary.download?id={$diary.id}')}" class="btn btn-sm btn-info">
	    <span class="glyphicon glyphicon-download"></span>
	    XML
	  </a>
	</td>
	<td>DY{$diary.code}</td>
	<td>{$diary.title}</td>
	<td>{$diary.schedule_tos}</td>
	<td><span class="glyphicon glyphicon-asterisk" eln:if="{$diary.separated}"></span></td>
      </tr>
      <tr eln:if="{count($diaries) EQ 0}">
	<td colspan="5">見つかりません</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- /customer list -->

<!-- paginator -->
<nav eln:include="admin/paginator.html"></nav>
<!-- /paginator -->

</div>
<!-- /container -->

<!-- modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">確認</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-diary">
        日誌を削除します。
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
        <button type="button" class="btn btn-danger delete" id="button-delete">削除</button>
      </div>
    </div>
  </div>
</div>
<!-- /modal -->

<eln:tag eln:include="admin/foot.html"></eln:tag>
<script>
//<![CDATA[
var diaryId;
$(function(){
    // delete.
    $("a.delete").on("click", function(){
	$("#modal").modal("show");
	diaryId = $(this).data("id");
	return false;
    });
    $("button.delete").on("click", function(){
	location.href = "{eln:uri('default:admin/diary.delete?id=_ID_')}".replace("_ID_", diaryId);
    });
});
//]]>
</script>
</body>
</html>
