<!DOCTYPE html>
<html lang="ja">
  <head eln:include="work/head.html"></head>

  <body>

    <!-- container -->
    <div class="container">

      <!-- nav -->
      <nav eln:include="work/nav.html"></nav>
      <!-- /nav -->

      <!-- title -->
      <div eln:include="work/title.html"></div>
      <!-- /title -->
      
      <!-- search -->
      <form action="{eln:uri('default:work/history.search')}" method="post" role="form">
	<div class="panel panel-default">
	  <div class="panel-body">
	    <div class="form-inline">
	      <label>基準日</label>
	      <input type="text" name="work_history_search[date]" class="form-control datepicker" style="width:120px;">
	      <button type="submit" class="btn btn-sm btn-success">
		検索
	      </button>
	    </div>
	  </div>
	</div>
      </form>
      <!-- /search -->

      <!-- history -->
      <table class="table table-bordered">
	<thead>
	  <tr>
	    <th>入力日</th>
	    <th>起床時</th>
	    <th>午前</th>
	    <th>午後</th>
	    <th>就寝時</th>
	  </tr>
	</thead>
	<tbody>
	  <tr eln:foreach="$visit:{$visits}">
	    <td>{$visit.date}</td>
	    <td>{$visit.getup}</td>
	    <td>{$visit.am}</td>
	    <td>{$visit.pm}</td>
	    <td>{$visit.gotobed}</td>
	  </tr>
	</tbody>
      </table>
      <!-- /history -->

      <div class="row mT20 mB20">
	<div class="col-xs-12 text-center">
	  <a href="{eln:uri('default:work.rewind')}" class="btn btn-default">
	    戻る
	  </a>
	</div>
      </div>
    </div>
    <!-- /container -->
    
    <eln:tag eln:include="work/foot.html"></eln:tag>
  </body>
</html>
