<!DOCTYPE html>
<html lang="ja">
<head eln:include="admin/head.html"></head>

<body>

<!-- nav -->
<nav eln:include="admin/nav.html"></nav>

<!-- container -->
<div class="container admin mT80 mB20">

<!-- breadcrumb -->
<ol class="breadcrumb">
  <li class="active">管理パスワード変更</li>
</ol>
<!-- /breadcrumb -->

<!-- search -->
<div class="alert alert-default fade in" role="alert">
  管理パスワードを変更しました。
</div>

</div>
<!-- /container -->

<eln:tag eln:include="admin/foot.html"></eln:tag>
</body>
</html>
