<!DOCTYPE html>
<html lang="ja">
<head eln:include="admin/head.html"></head>

<body>

<!-- nav -->
<nav eln:include="admin/nav.html"></nav>

<!-- container -->
<div class="container admin mT80 mB20">

<!-- breadcrumb -->
<ol class="breadcrumb">
  <li><a href="{eln:uri('default:admin/user.form')}">ユーザアップロード</a></li>
  <li class="active">アップロードエラー</li>
</ol>
<!-- /breadcrumb -->

<!-- error -->
<div class="alert alert-danger" role="alert">
  ユーザ登録に失敗しました。
  <ul>
    <li eln:foreach="$error:{$upload_errors}">{$error}</li>
  </ul>
</div>
<!-- /error -->

<a href="{eln:uri('default:admin/user.form')}" class="btn btn-md btn-default">戻る</a>

</div>
<!-- /container -->

<eln:tag eln:include="admin/foot.html"></eln:tag>
</body>
</html>
