<!DOCTYPE html>
<html lang="ja">
<head eln:include="admin/head.html"></head>

<body>

<!-- nav -->
<nav eln:include="admin/nav.html"></nav>

<!-- container -->
<div class="container admin mT80 mB20">

<!-- breadcrumb -->
<ol class="breadcrumb">
  <li><a href="{eln:uri('default:admin/import.form')}">ユーザアップロード</a></li>
  <li class="active">アップロード完了</li>
</ol>
<!-- /breadcrumb -->

<!-- receipt -->
<div class="alert alert-success" role="alert">
  申し込み登録を完了しました。
  <table class="table">
    <thead>
      <tr>
	<th>計測日時</th>
	<th>ユーザID</th>
	<th>氏名</th>
      </tr>
    </thead>
    <tbody>
      <tr eln:foreach="$user:{$uploaded_users}">
	<td>{$user.date}</td>
	<td>{$user.code}</td>
	<td>{$user.name}</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- /receipt -->

<a href="{eln:uri('default:admin/user.form')}" class="btn btn-md btn-default">戻る</a>

</div>
<!-- /container -->

<eln:tag eln:include="admin/foot.html"></eln:tag>
</body>
</html>
